body{
    padding: 0;
    margin: 0;
    color: white;
    background: rgb(227,147,24);
    background: linear-gradient(90deg, rgba(227,147,24,1) 0%, rgba(213,142,34,1) 51%, rgba(227,147,24,1) 100%);
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

ul{
    list-style: none;
}
li{
    display:inline
}
a{
    color: white;
    style:none;

}

main{
    display: flex;
    justify-content: center;
}


img{
    width: 400px;
}

h1{
    font-size: 50px;
    margin:20px 0 0 0;
    
}

h2{
    font-size: 60px;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;

}

p{
    margin-bottom: 50px;
    font-size: 20px;
}


.containaire{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}